.border-container {
    margin: 5mm 0; 
    border-top: 1px solid grey; 
    border-bottom: 1px solid grey; 
    padding-top: 5mm; 
    padding-bottom: 5mm; 
}

.svg-container {
    overflow: hidden; 
}

.svg-container svg {
    display: block; 
    width: 100%;
    height: auto;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  font-size: 14px;
  height: 6rem;
  padding: 2rem;
}

footer p {
  margin: 0;
}